<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
   <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
  </span>
</li>